.profile-img-container{
    width: 60px;
    height: 60px;
    object-fit: cover;

    img{
        height: 100%;
        border-radius: 50%;
    }
}

.chatBottom{
    input{
        outline: none;
        width: 100%;
        background: transparent;
    }
    .util-container{
        height: 30px;
        width: 30px;
        object-fit: cover;
    }
    .send{
        background-color: #fee7e2;
    }
    img{
        height: 100%;
    }
}